:root {
    --number-of-cells: 11;
    --cell-size: 100px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(12,94,204);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    width: 100%;
    background-color:rgb(27,77,188);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo{
    width: 300px;
    margin: 5px;
    user-select: none;
}

.button{
    margin: 15px;
    width: 135px;
    height: 60px;
    border-radius: 50px;
    color:rgb(255,243,0);
    background-color: rgb(8,88,199);
    border: solid 1px black;
    font-size: 20px;
    user-select: none;
    transition: 0.3s;
}

.button:hover{
    background-color: rgb(12,94,204);
    cursor: pointer;
    transition: 0.3s;
}

.invisible-container{
    top:0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px black;
    position: fixed;
}

.invisible{
    width: 0;
    height: 0;
}

h1{
    margin: 10px;
    color:rgb(255,243,0);
    font-size: 36px;
}

#table {
    width: calc(var(--number-of-cells) * var(--cell-size));/**/
    height: calc(var(--number-of-cells) * var(--cell-size));/**/
    display: flex;
    flex-wrap: wrap;
    background-color: white;/**/
    border-radius: 10px;/**/
    padding: 6px;/**/
    margin: 20px;/**/
}

.cell {
    height: calc(var(--cell-size) - 2px);
    width: calc(var(--cell-size) - 2px);
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.5);/**/
    background-color: #0000;
    /*margin: 1px;*/
    transform: rotate(0deg);
    background-size: cover;
    cursor: pointer;/**/
}

.cell:hover {
    background-color: blue;
}

.container{
    display: flex;
}

.players{
    display: flex;
    margin: 10px 20px;
    border-radius: 10px;
    background-color: lightgray;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.player{
    border-radius: 10px;
    background-color: white;
    border: 3px solid lightgray;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    user-select: none;
}

.player.active{
    border: 3px solid rgb(0, 212, 0);
}

.nickname{
    font-size: 40px;
}

.citizens-container{
    display: flex;
    justify-content: center;
}

.citizen.red{
    width: 40px;
}

.citizen.blue{
    margin: 0 3px;
    width: 34px;
}

.citizen.yellow{
    width: 40px;
}

.citizen.green{
    width: 45px;
    margin: 0 -2px;
}

.citizen.black{
    width: 43px;
    margin: 0 -1px;
}

.citizen.used{
    width: 0;
}

.score{
    display: flex;
    margin: 15px;
    width: 90px;
    height: 35px;
    border-radius: 50px;
    color: rgb(255,243,0);
    background-color: rgb(8,88,199);
    border: solid 1px black;
    font-size: 20px;
    user-select: none;
    justify-content: center;
    align-items: center;
}

.control{
    display: flex;
    margin: 10px 20px;
    border-radius: 10px;
    background-color: lightgray;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    user-select: none;
}

.cell-parameters{
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    user-select: none;
}

#cell-preview{
    height: calc(var(--cell-size) - 2px);
    width: calc(var(--cell-size) - 2px);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: lightgray;;
    transform: rotate(270deg);
    background-size: cover;
}

.element-name{
    font-size: 30px;
}

#rotate-button{
    display: flex;
    margin: 15px;
    width: 110px;
    height: 35px;
    border-radius: 50px;
    color: rgb(255,243,0);
    background-color: rgb(8,88,199);
    border: solid 1px black;
    font-size: 20px;
    user-select: none;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

#rotate-button:hover{
    background-color: rgb(12,94,204);
    cursor: pointer;
    transition: 0.3s;
}

.citizen-parameters{
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 5px;
    padding: 5px;
    display: flex;
    text-align: center;
    user-select: none;
    align-items: center;
    flex-direction: column;
}

.radio-button-select{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label{
    font-size: 20px;
}

.place-button{
    display: flex;
    margin: 15px;
    width: 110px;
    height: 35px;
    border-radius: 50px;
    color: rgb(255,243,0);
    background-color: rgb(8,88,199);
    border: solid 1px black;
    font-size: 20px;
    user-select: none;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.place-button:hover{
    background-color: rgb(12,94,204);
    cursor: pointer;
    transition: 0.3s;
}

#finish-move-button{
    display: flex;
    margin: 15px;
    width: 232px;
    height: 55px;
    border-radius: 50px;
    color: rgb(255,243,0);
    background-color: red;
    border: solid 1px black;
    font-size: 20px;
    user-select: none;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

#finish-move-button:hover{
    background-color: rgb(255, 60, 60);
    cursor: pointer;
    transition: 0.3s;
}
