:root {
    --number-of-cells: 15;
    --cell-size: 24px;
}

#table {
    width: calc(var(--number-of-cells) * var(--cell-size) + 8px);
    height: calc(var(--number-of-cells) * var(--cell-size) + 8px);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: calc(var(--cell-size) - 4px);
    width: calc(var(--cell-size) - 4px);
    border-radius: 3px;
    border: 1px black solid;
    background-color: #0000;
    margin: 1px;
}

.cell:hover {
    background-color: blue;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 8px);
    height: calc(100vh - 8px);
}